<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Website</title>
    <script src="{{ url_for("static", path='myscript.js') }}"></script>
    </head>
<body>
    <h2>Using JavaScript in Template</h2>
    <h3> Welcome {{ data.get('name') }}</h3>
    <button onclick="myFunction()">Submit</button>
    <p id="response"></p>
</body>
</html>